
#principale {
    width: 1300px;
    margin: auto;
    background-color: lightblue;
    font-size: xx-large;
}
#secondo {
    width: 1300px;
    margin: auto;
    font-size: xx-large;
}
#elenco {
    margin-left: 50px;
    font-size: xx-large;
}
body {
    background-color: lightcyan;
}
