#principale {
    width: 1500px;
    margin: auto;
    background-color: lightblue;
    font-size: xx-large;
}
#secondo {
    width: 1500px;
    margin: auto;
    font-size: large;
}
body {
    background-color: lightcyan;
}
